name: release

on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Read version from gradle.properties
        id: get_version
        run: |
          VERSION=$(grep "mod_version" gradle.properties | cut -d'=' -f2 | tr -d '[:space:]')
          echo "Detected version: $VERSION"
          echo "MOD_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build with Gradle
        run: ./gradlew build

      - name: Update Release
        uses: ncipollo/release-action@v1
        with:
          tag: v${{ env.MOD_VERSION }}
          name: Release v${{ env.MOD_VERSION }}
          commit: ${{ github.sha }}

          allowUpdates: true
          replacesArtifacts: true
          makeLatest: true

          artifacts: "build/libs/*.jar"

          token: ${{ secrets.GITHUB_TOKEN }}
        if: success()